.wrapper {
  max-width: 70rem;
  margin: -1rem auto;
  padding: 0 18rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.article {
  margin-top: 2.8%;
  backdrop-filter: blur(20px);
  border-radius: 7%;
  padding: 0rem;
  height: 814px;
  border: 1px solid var(--gray-300);
}
  
  .logo {
    position: absolute;
    top: 1.5%;
    right: 10%;
    height: auto;
    width: 80%;
  }
  
  .titulo {
    position: relative;
    text-align: center;
    margin-top: -40.5%;
    margin-right: 5px;
    color: var(--gray-300);
  }
  
  .wrapper::before {
    content: "";
    background-image: url("../../assets/fundo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }