.wrapper {
  max-width: 70rem;
  margin: -1rem auto;
  padding: 0 18rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.article {
  margin-top: 50px;
  background: var(--gray-600);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 0rem;
  height: 730px;
  border: 1px solid var(--gray-900);
}

.logo {
  position: absolute;
  top: 8%;
  right: 40%;
  height: auto;
  width: 100px;
}

.tituloH1 {
  position: relative;
  text-align: center;
  margin-top: -31%;
}

.wrapper::before {
  content: "";
  background-image: url("../../assets/fundo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.botaoLogin {
  width: 100%;
  background: var(--gray-100);
  color: var(--gray-300);
  border-radius: 10px;
  height: 50px;
  padding: 0 3rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  max-width: 200px;
}

.botaoSenha {
  width: 100%;
  background: var(--gray-100);
  color: var(--gray-300);
  border-radius: 10px;
  height: 50px;
  padding: 0 3rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  max-width: 200px;
}
