.wrapper {
  max-width: 70rem;
  margin: -1rem auto;
  padding: 0 18rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.article {
  margin-top: 10%;
  backdrop-filter: blur(20px);
  border-radius: 7%;
  padding: 0rem;
  height: 730px;
  border: 1px solid var(--gray-300);
}

.logo {
  position: absolute;
  top: 8%;
  right: 5.5%;
  height: auto;
  width: 90%;
}

.tituloH1 {
  position: relative;
  text-align: center;
  margin-top: -31%;
  color: var(--gray-300);
}

.wrapper::before {
  content: "";
  background-image: url("../../assets/fundo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
