.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.article {
  background: var(--blue-500);
  border-radius: 8px;
  padding: 2.5rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--blue-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--blue-300);
}

.form {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.form > label {
  line-height: 1.6;
  color: var(--gray-100);
}

.form input {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.form button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--red-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}