.formulario {
    position: relative;
    max-width: 800%;
    margin: 0 auto; 
  }
  
  .inputGroup {
    position: relative;
    left: 36.5%;
    width: 26%;
  }
  
  .input {
    margin-top: 3.5%;
    width: 105%;
    color: var(--gray-700);
    border: 2px solid var(--gray-300);
    backdrop-filter: blur(20px);
    background-color: transparent;
    border-radius: 2rem;
    height: 3rem;
    padding: 0 1.5rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.1s, background-color 0.1s;
  }

  .input::placeholder {
    color: var(--gray-300);
  }

.botaoproximo {
    position: absolute;
    top: 103%;
    left: 42.2%;
    width: 15%;
    color: var(--gray-300);
    background-color: var(--gray-800);
    border-radius: 15px;
    height: 50px;
    padding: 0 1rem;
    font-weight: 800;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.2s;
    border: none;
}

.botaoproximo:hover {
  background-color: var(--gray-100); /* Defina a cor desejada quando o mouse passa por cima */
}

.botaovoltar {
    position: absolute;
    top: 115%;
    left: 42.2%;
    width: 15%;
    color: var(--gray-300);
    background-color: var(--gray-800);
    border-radius: 15px;
    height: 50px;
    padding: 0 1rem;
    font-weight: 800;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.2s;
    border: none; 
}

.botaovoltar:hover {
  background-color: var(--gray-100); /* Defina a cor desejada quando o mouse passa por cima */
}