:root {
  --white: #fff;
  --gray-100: #00b981;
  --gray-300: #ffffff;
  --gray-400: #ffffff80;
  --gray-600: #ffffff41;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --blue-300: #154d80;
  --blue-500: #00224f;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-100);
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
